@model Order

<h4>You're just one step away form you delicious pies</h4>
<div class="row">
    <div class="col-8">
        <form asp-action="Checkout" method="post">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="Your last name">
            </div>
        
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Your first name">
            </div>
        
            <div class="form-group">
                <label asp-for="AdressLine1"></label>
                <input asp-for="AdressLine1" class="form-control" placeholder="Your adress Line (1)">
            </div>
        
            <div class="form-group">
                <label asp-for="AdressLine2"></label>
                <input asp-for="AdressLine2" class="form-control" placeholder="Your adress Line (2)">
            </div>
        
            <div class="form-group">
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" class="form-control" placeholder="Your zipe code">
            </div>
        
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" placeholder="Your city">
            </div>
        
            <div class="form-group">
                <label asp-for="State"></label>
                <input asp-for="State" class="form-control" placeholder="Your state">
            </div>
        
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" placeholder="Your country">
            </div>
        
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Your phone number">
            </div>
        
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Your email">
            </div>
        
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Complete order"/>
            </div>
        </form>
    </div>
</div>
