@using System.Globalization
@model PiesListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.CurrentCategory</h1>
<div class="d-flex flex-wrap">
@foreach (var pie in Model.Pies)
{
    <partial name="_PieCard" model="pie"/>
}
</div>